<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.growing.pains.dao,
                                          com.growing.pains.service,
                                          com.growing.pains.main.web.controller"/>

    <mvc:resources mapping="/resources/**" location="/resources/" />

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.growing.pains.main.web.auth.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- Spring MVC -->
    <import resource="classpath:spring/config/applicationContext-mysqlDataSource.xml"/>

    <context:property-placeholder location="classpath:properties/db.properties"/>

    <!--全局的异常处理器-->
    <bean id="exceptionResolver" class="com.growing.pains.main.web.handler.GlobalExceptionHandler"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>